nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  cursor: pointer;
  text-decoration: underline;
}

nav a.active {
  text-decoration: underline;
  color: #011640;
}